<p id="notice"><%= notice %></p>

<h1>Platinums</h1>

<table>
  <thead>
    <tr>
      <th>Title</th>
      <th>Body</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @platinums.each do |platinum| %>
      <tr>
        <td><%= platinum.title %></td>
        <td><%= platinum.body %></td>
        <td><%= link_to 'Show', platinum %></td>
        <td><%= link_to 'Edit', edit_platinum_path(platinum) %></td>
        <td><%= link_to 'Destroy', platinum, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Platinum', new_platinum_path %>
