<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @platinum.title %>
</p>

<p>
  <strong>Body:</strong>
  <%= @platinum.body %>
</p>

<%= link_to 'Edit', edit_platinum_path(@platinum) %> |
<%= link_to 'Back', platinums_path %>
