<p id="notice"><%= notice %></p>

<h1>Coppers</h1>

<table>
  <thead>
    <tr>
      <th>Title</th>
      <th>Body</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @coppers.each do |copper| %>
      <tr>
        <td><%= copper.title %></td>
        <td><%= copper.body %></td>
        <td><%= link_to 'Show', copper %></td>
        <td><%= link_to 'Edit', edit_copper_path(copper) %></td>
        <td><%= link_to 'Destroy', copper, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Copper', new_copper_path %>
