<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @copper.title %>
</p>

<p>
  <strong>Body:</strong>
  <%= @copper.body %>
</p>

<%= link_to 'Edit', edit_copper_path(@copper) %> |
<%= link_to 'Back', coppers_path %>
